<div class="actions">
  {% if view_url %}
    <a class="btn btn-sm btn-secondary" href="{{ view_url }}">
      <svg width="14" height="14" aria-hidden="true"><use xlink:href="#icon-view"></use></svg>
      Ver
    </a>
  {% endif %}
  {% if can_edit %}
    <a class="btn btn-sm btn-primary" href="{{ edit_url }}">
      <svg width="14" height="14" aria-hidden="true"><use xlink:href="#icon-edit"></use></svg>
      Editar
    </a>
  {% endif %}
  {% if can_delete %}
    <a class="btn btn-sm btn-danger" href="{{ delete_url }}">
      <svg width="14" height="14" aria-hidden="true"><use xlink:href="#icon-delete"></use></svg>
      Eliminar
    </a>
  {% endif %}
</div>
